.pokemon-card {
  background: white;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  padding: var(--spacing-md);
  width: 180px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.pokemon-card h3 {
  font-size: var(--font-size-subtitle);
  color: var(--color-secondary);
}


.pokemon-card img {
  width: 96px;
  height: 96px;
}


.types span {
  display: inline-block;
  background-color: #eee;
  border-radius: 12px;
  padding: 0.2rem 0.6rem;
  margin: 0.2rem;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.pokemon-id {
  color: #888;
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
}